<!DOCTYPE html>
<html>
	
	<head>
		<title>Arpita Shalini!</title>
		<!-- link to main stylesheet -->
		<link rel ="stylesheet" type="text/css" href ="/css/main.css">
	</head>
	<body style = "background-color: #EFEFAD;">
		<nav>
    		<ul>
        		<li><a href="/">Home</a></li>
	        	
    		</ul>
		</nav>
		<div class="container">
    		<div class="blurb">
			
			<h1 style="color:black;">Hi there, I am Arpita Shalini!</h1>
				<p>I am pursuing Masters in Geographic Information Science from Clark University </em> I believe in the power of GIS and understand that GIS can help solve major challenges in the world. </em> My concentration lies in GIS for Development and Environment.</p>
	<p> This is story map which I made to highlight the places affected by Tsunami 2004 in the South East Asia <p>
				<blockquote class="embedly-card" data-card-theme="dark"><h4><a href="https://uploads.knightlab.com/storymapjs/5725c157c727feb0418797b5a31157ce/2004-indian-ocean-tsunami/index.html">2004 Indian Ocean Tsunami</a></h4><p>null</p></blockquote>
				<script async src="//cdn.embedly.com/widgets/platform.js" charset="UTF-8"></script>
	<p> This is a geoJSON map depicting the places I have visited in the last one year. <p>
	<iframe src="https://www.google.com/maps/d/embed?mid=1lcYxGq28X4_MToURtWx0F3LgRoQwUJjo" width="640" height="480" align="centre"></iframe>
	<p> This is an AGOL feature layer which I created for an assignment for Web-Mapping and Open Source GIS.. 
	<style>.embed-container {position: relative; padding-bottom: 80%; height: 0; max-width: 65%; margin-left: 145px;} .embed-container iframe, .embed-container object, .embed-container iframe{position: absolute; top: 0; left: 0; width: 100%; height: 100%;} small{position: absolute; z-index: 40; bottom: 0; margin-bottom: -15px;}</style><div class="embed-container"><iframe width="500" height="400" frameborder="0" scrolling="no" marginheight="0" marginwidth="0" title="311-Incidents" src="//clarku.maps.arcgis.com/apps/Embed/index.html?webmap=0ca3027bfce94012bef1a39d65cd0151&extent=-72.0044,42.1816,-71.6,42.3452&zoom=true&previewImage=false&scale=true&disable_scroll=true&theme=light"></iframe></div>
    		</div><!-- /.blurb -->
		</div><!-- /.container -->
		<footer>
    		<ul>
        		<li><a href="mailto:ashalini@clarku.edu">email</a></li>
        		<li><a href="https://github.com/ARPITASHALINI">github.com/ARPITASHALINI</a></li>
			</ul>
		</footer>
	</body>
</html>
