<!DOCTYPE html>
<html>
	<head>
		<title>Arpita Shalini!</title>
		<!-- link to main stylesheet -->
		<link rel ="stylesheet" type="text/css" href ="/css/main.css">
	</head>
	<body>
		<nav>
    		<ul>
        		<li><a href="/">Home</a></li>
	        	<li><a href="/about">About</a></li>
        		<li><a href="/_posts">CV</a></li>
        		<li><a href="/blog">Blog</a></li>
    		</ul>
		</nav>
		<div class="container">
    		<div class="blurb">
        		<h1>Hi there, I am Arpita Shalini!</h1>
				<p>I am pursuing Masters in Geographic Information Science from Clark University </em> I believe in the power of GIS and understand that GIS can help solve major challenges in the world. </em> My concentration lies in GIS for Development and Environment. <a href="/about">Read more about my life...</a></p>
				<blockquote class="embedly-card" data-card-theme="dark"><h4><a href="https://uploads.knightlab.com/storymapjs/5725c157c727feb0418797b5a31157ce/2004-indian-ocean-tsunami/index.html">2004 Indian Ocean Tsunami</a></h4><p>null</p></blockquote>
<script async src="//cdn.embedly.com/widgets/platform.js" charset="UTF-8"></script>
    		</div><!-- /.blurb -->
		</div><!-- /.container -->
		<footer>
    		<ul>
        		<li><a href="mailto:ashalini@clarku.edu">email</a></li>
        		<li><a href="https://github.com/ARPITASHALINI">github.com/ARPITASHALINI</a></li>
			</ul>
		</footer>
	</body>
</html>
